<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Rest Api Example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-margin-bottom ion-text-center">Exemplo de API REST</h1>

  <!-- <ion-button expand="block" (click)="openCreateAccount()" [routerLink]="['/create-account']" routerLinkActive="router-link-active" >Criar conta</ion-button> -->
  <ion-button expand="block" [routerLink]="['/create-account']" routerLinkActive="router-link-active" >Criar conta</ion-button>
  <ion-button expand="block" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</ion-button>
  <ion-button expand="block" [routerLink]="['/user-list']" routerLinkActive="router-link-active" >CRUD de usuários</ion-button>

  <!-- <a href="http://www.fabricadecodigo.com/rest-api-ionic/" target="_blank">Tutorial</a> -->
  <!-- <a href="https://youtu.be/3EJDF6L5Arg?t=2147" target="_blank">Vídeo Tutorial</a> -->

</ion-content>
